@charset "UTF-8";

body{
	background-color: azure;
	margin: 0;
}
header{
	background-color: aquamarine;
}
main{
	background-color: azure;
}
footer{
	background-color: aquamarine;
}
.error{
	color: red;
}
.title_header{
	background-color: beige;
/*	display: flex;*/
/*	display: -webkit-flex;*/
/*	justify-content: center;*/
}
.title_header1{
	background-color: beige;
/*	margin-right: 100px;*/
}
.title_header2{
	background-color: beige;
/*	margin-left: 50px;*/
/*	margin-right: 20px;*/
}