<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>服薬履歴</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
<meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
	<header th:replace="~{header}"></header>
	<main>
		<h1>服薬履歴</h1>
		
		<span  th:each="history : ${medicineHistory}">
			<span th:text="${history.id}"></span>
			<br>
			<span th:text="${history.historyDate}"></span>
			<br>
			<span th:text="${history.text}"></span>
			<br>
<!--			<span th:text="${history.users.user_id}"></span>-->
			<br>
		</span>
		
		
		<br><hr>
		<a href="/medicalView">ホームに戻る</a>
	</main>
	<footer th:replace="~{footer}"></footer>
</body>
</html>