<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>ログイン</title>
<!--	cssファイルはstaticフォルダ直下におかないといけない。-->
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<header th:replace="~{header}"></header>
	<main>
		<div>
			<form action="/" method="post">
				<input type="text" name="name">
				<br>
				<input type="password" name="password">
				<button>
					ログイン
				</button>
			</form>
			<br>
			<!--   繰り返しエラーリストを出力する。  -->
			<div>
				<span th:each="error : ${errorList}">
					<span th:text="${error}"></span><br>
				</span>
			</div>
		</div>
		<div>
			<form action="/" method="post">
				<button>
					新規登録
				</button>
			</form>
		</div>
	</main>
	<footer th:replace="~{footer}"></footer>
</body>
</html>