<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
<meta name="viewport" content="width=device-width,initial-scale=1">
<script src="script.js"></script>
</head>
<body>
	<header th:replace="~{header}"></header>
	<main>
		<div class="login">
			<p  class="formLogin">
				<a class="aTag" href="/medicalView">服薬一覧</a>
				<br>
				アカウント名 : <span name="name" th:value="${@account.userName}" th:text="${@account.userName}"></span>
				<br>
				<a href="/insertMedicineView">くすりを新規登録</a>
				<br>
<!--				薬の服用履歴を確認できる画面を作成する-->
				<input type="hidden" name="id" th:value="${@account.userName}">
				<a href="/historyMedicine">服薬履歴</a>
				<span th:text="${deleteMessege}"></span>
			</p>
		</div>
			<table border="1">
				<tr>
					<th>チェック</th>
					<th>薬の名前</th>
					<th>服薬個数</th>
					<th>編集</th>
					<th>備考</th>
				</tr>
				<tr  th:each="medicine : ${medicineList}">
					<td th:text="${medicine.name}"></td>
					<td th:text="${medicine.count}"></td>
					<td>
						<form action="/check" id="autoForm" method="post">
							<input type="hidden" name="id" th:value="${medicine.id}">
<!--							onchange="document.getElementById('autoForm').submit()"-->
							<input type="checkbox" th:id="|ap_id-${medicine.id}|" name="check" th:checked="${medicine.check}" onchange="this.form.submit()" />
<!--							onchange="submitParentForm(event)"-->
							<label th:for="|ap_id-${medicine.id}|" class="label">check</label>
						</form>
					</td>
					<td>
						<form action="/updateView" method="post">
							<input type="hidden" name="update" th:value="${medicine.id}">
							<button>選択</button>
						</form>
					</td>
					<td th:text="${medicine.text}"></td>
				</tr>
			</table>
	</main>
	<footer th:replace="~{footer}"></footer>
	
</body>
</html>