<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<style>
	body{
		margin: 0px;
		text-align: center;
	}
	header{
		background-color: aquamarine;
	}
	main{
		background-color: azure;
	}
	footer{
		background-color: aquamarine;
	}
</style>
</head>
<body>
	<header>
		<h3>
			服薬確認システム   一覧画面
		</h3>
		
	</header>
	
	<main>
		<div>
			<h1>
				服薬一覧
			</h1>
			<p>
				ログインユーザー名 : ユーザー名
			</p>
		</div>
		<div>
			<table border="1">
				<tr>
					<th>No</th>
					<th>薬の名前</th>
					<th>服薬個数</th>
					<th>服薬チェック</th>
					<th>備考</th>
					<th>更新</th>
					<th>削除</th>
				</tr>
				<tr>
					<td>1</td>
					<td>name</td>
					<td>3(具体的な個数をDBからもってくる)</td>
					<td>
						チェックボックスを挿入
					</td>
					<td>備考テキスト</td>
					<td>更新</td>
					<td>削除</td>
				</tr>
				<tr>
					<td>2</td>
					<td>name</td>
					<td>3(具体的な個数をDBからもってくる)</td>
					<td>
						チェックボックスを挿入
					</td>
					<td>備考テキスト</td>
					<td>更新</td>
					<td>削除</td>
				</tr>
			</table>
			<form action="" method="get">
				<button>
					新しく薬を登録する
				</button>
			</form>
		</div>
	</main>
	<footer>
		<p>
			footer
		</p>
	</footer>
</body>
</html>