<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>更新</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<header th:replace="~{header}"></header>
	<main>
		<div class="title_header_1">
			<h1>
				薬情報の更新画面
			</h1>
		</div>
		<div  class="title_header_2">
			アカウント名 : 
			<span name="name" th:value="${@account.userName}" th:text="${@account.userName}"></span>
		</div>
		<div>
			<form action="/updateMedicine" method="post">
				<p>薬の名前</p>
				<input type="hidden" name="id" th:value="${medicine.id}">
				<p>
					<input type="text" name="name" th:value="${medicine.name}">
				</p>
				<p>服薬個数</p>
				<p>
					<input type="number" name="count" th:value="${medicine.count}">
				</p>
				<p>備考</p>
				<p>
					<textarea name="text" rows="5" cols="40" th:text="${medicine.text}"></textarea>
				</p>
				<button>更新する</button>
			</form>
		</div>
		<div>
			<span th:text="${messege}"></span>
			<a href="/medicalView">ホームに戻る</a>
		</div>
		
		
	</main>
	<footer th:replace="~{footer}"></footer>
</body>
</html>